.bd-category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.bd-category-header > h3 {
    margin-bottom: 0;
    cursor: pointer;
}

.bd-category-body {
    margin: 25px 10px 10px 10px;
}

.bd-collection-title svg {
    margin-right: 5px;
}

.bd-collection-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.bd-category-disabled {
    opacity: .6;
}